{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <div class="ui center aligned middle aligned inverted segment">
    <h1 class="ui blue header">
      About The WeatherTop App
    </h1>
    <br>
    <div class="ui main text container">
      <div class="ui two column centered grid">
        <div class="four column centered row">
          <i class="big red bolt icon"></i>
          <i class="big orange cloud icon"></i>
          <i class="big yellow cloud meatball icon"></i>
          <i class="big green moon icon"></i>
          <i class="big white cloud moon rain icon"></i>
          <i class="big pink cloud rain icon"></i>
          <i class="big purple cloud showers heavy icon"></i>
          <i class="big red cloud sun icon"></i>
          <i class="big orange cloud sun rain icon"></i>
          <i class="big green meteor icon"></i>
          <i class="big white moon icon"></i>
          <i class="big pink moon outline icon"></i>
          <i class="big purple shower icon"></i>
          <i class="big red rainbow icon"></i>
          <i class="big orange smog icon"></i>
          <i class="big yellow snowflake icon"></i>

          <p class="ui yellow header">This App updates you on the latest weather and there measurements</p>
        </div>
        <div class="ui large circular image">
          <img class="ui image"
               src="https://cdn.dribbble.com/users/2122398/screenshots/4838352/swimmer.gif" alt=""><br></div>
        <p>This is an new App developed to show you tables of Weather stats to help you plan your
          getaways. The WeatherTop App, is one of the best weather applicationS online, the best choice for you.
          WeatherTop app, has accurate weather information for anytime and everywhere and with your help can inform others of your current weather conditions.</p>
        <br>
        <br>
        <img class="ui large circular image"
             src="https://i.gifer.com/Ao8V.gif" alt=""></div>
      <br>
      <br>
    </div>
    <p>Now that you have signed up go to our Dashboard and create your very own station and readings for your
      stations</p>
    <br>
    <br>
    <div class="ui inverted yellow vertical footer segment">
      <div class="ui container">
        <i class="right floated wind big blue icon"></i> Weathertop Stations 2021. All Rights Reserved Sophia McGee
      </div>
    </div>
  </div>
</section>