{{> menu id="start"}}

<section class="ui center aligned middle aligned inverted segment">
    <h1 class="ui blue header">
        Welcome to The WeatherTop App
    </h1>
    <div class="ui main text container">
        <p class="ui blue header">This App updates you on the latest weather and there measurements</p>
        <p></p>
        <img class="ui big centered image" src="https://media.istockphoto.com/vectors/set-of-vector-illustration-of-modern-weather-icons-vector-id1125245807?k=6&m=1125245807&s=612x612&w=0&h=klFAlWrxi60Pc4mTs_xYchOzqrjMHj2cUlro1gctMiw=">
        <h3> We will let you know when you need your jacket </h3>
        <img class="ui big centered image" src="https://i0.wp.com/media2.giphy.com/media/26u6dryuZH98z5KuY/giphy.gif">
        <h4>Just in case there might be some rain</h4>
        <img class="ui big centered image" src="https://www.hongkong.campusfrance.org/sites/pays/files/hongkong/styles/mobile_visuel_principal_page/public/Fotolia_171500112_Subscription_Monthly_M.jpg?itok=d3aVCEpr">
        <p></p>
        <p>
            This is an new App that has been developed to show you tables of Weather stats to help you plan your
            getaways.
        </p>
    </div>
    <br>
    <div class="ui inverted blue vertical footer segment">
        <div class="ui container">
            Weathertop Stations 2021.All Rights Reserved
        </div>
    </div>
</section>
